language: java
install: true
script:
- eval "$(gimme 1.9)"
- make
deploy:
  provider: releases
  api-key:
    secure: Mgwl0V8Ab/XUBz3dKXKdemnXxZRQE86jGlaTu0++nB6YjsM/azwjKd2aFUirGAdYIUmk2rfRd5ZkKxyvDVCIvq1bzmx5ebaWXwgXNBqBl11BdxIv+csjU9/cwKvbpwpCiEQ7xEZmYMbDgyNVoQTTnj5ViXXy2LwtpXbPUwOpj5KmVK3stJCtOU1ZiMWnZWXwVqrcf9R7NiSev+6TsicxV0M7tzoITZO9RljQSBtShcLO546Xnkk4XSYQ0uRY5rWezmy7uaDkSqlBkmLoMrKaRczfMpyPjLTjD9iSLAi1GdneL5bEhRPzotB/RO7SVv6DO7I76giKLlDwXozMRDn0n69U2vAgfiBBj3U1zFabZKHP0vyB86rqD+zu1GoM+Me5clgbmZXKn4/ADIW/vUDeARP2893Z9AKHCT+waPNF2SQv32zUXQnCg5ud2OfscPk5Ap/liFMNzktmw5zJnuJ1tZHmq6NQpJ3aMMLeMwm7UnHjN/3ZqB4iKvk6oB1PqAMdCMSvJwSwRqE8cK7mgEQh3mx2aev0gv5eMQs1qHiI3t432AR7okZkY6Eb+XOwhC+dx/Fg9aus3UsPQtOp8tymqLmSLkPRH2MnkMCp6khXwivB96hruEPqeQ+OdRNQER2WDJkMzzFRsFRSBu18Tcx74Ze2U1ZtCv7Gv/cFjS0rY2o=
  file_glob: true
  file: release/*
  skip_cleanup: true
  on:
    tags: true
